apiVersion: apps/v1
kind: Deployment
metadata:
  name: 1000testing
spec:
  replicas: 1
  selector:
    matchLabels:
      app: 1000testing
  template:
    metadata:
      labels:
        app: 1000testing
    spec:
      containers:
        - name: 1000testing
          image: <DOCKER_IMAGE>
          ports:
            - containerPort: 8080
          env:
            - name: JAVA_OPTS
              value: ""
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
            requests:
              memory: "256Mi"
              cpu: "100m"
---
apiVersion: v1
kind: Service
metadata:
  name: 1000testing-svc
spec:
  selector:
    app: 1000testing
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: LoadBalancer
